@charset "UTF-8";
html {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: relative;
  max-width: 950px;
  margin: 0 auto;
}

.title {
  color: #212125;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 35px;
  z-index: -2;
}

.title__why {
  font-size: 18px;
  text-align: center;
}

.title__white {
  color: whitesmoke;
  padding-top: 35px;
}

.promo {
  position: relative;
  background: url("../img/car5.jpg") center center/cover no-repeat;
  -webkit-box-shadow: 0 -185px 185px -185px rgba(0, 0, 0, 0.9), 0 185px 185px -185px rgba(0, 0, 0, 0.9);
          box-shadow: 0 -185px 185px -185px rgba(0, 0, 0, 0.9), 0 185px 185px -185px rgba(0, 0, 0, 0.9);
  min-height: 800px;
}

.promo .cover {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.promo p {
  position: relative;
  z-index: 2;
  color: whitesmoke;
  font-size: 18px;
  text-align: center;
}

.promo__car {
  position: relative;
  z-index: 2;
  width: 100%;
}

.promo__car img {
  padding-top: 20px;
  width: 80%;
}

.promo__item {
  position: relative;
  z-index: 2;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*      li { 
            top: 30px;
            position: relative;
            color: whitesmoke;
			font-size: 20px;
			font-weight: 300;
			line-height: 24px;
            margin-bottom: 15px;
            list-style: none;
            z-index: 10;
            overflow: hidden;
            height: 15px;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -32px;
				top: 3px;
				width: 21px; 
				height: 30px;
                background: url('../icons/201.png') center (center / cover) no-repeat;
            }
            &:hover {
                margin-top: 15px;
                display: block;
                height: 80px;
            }
        } */
}

.promo__item img {
  top: 10px;
  left: 10px;
}

.cash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  list-style-type: none;
  -webkit-box-shadow: 0 -185px 185px -185px rgba(0, 0, 0, 0.9), 0 185px 185px -185px rgba(0, 0, 0, 0.9);
          box-shadow: 0 -185px 185px -185px rgba(0, 0, 0, 0.9), 0 185px 185px -185px rgba(0, 0, 0, 0.9);
  background: url("../img/usl1.jpg") center center/cover no-repeat;
  min-height: 800px;
}

.cash__block {
  height: 600px;
  width: 280px;
  background-color: white;
  padding: 20px 8px 20px 8px;
  border: 5px solid #212125;
  border-radius: 10px;
  margin-top: 30px;
  /*    button {
      margin-left: 25px;
      margin-bottom: 25px;
      width: 172px;
      height: 46px;
      box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
      border: none;
      border-radius: 50px;
      background-image: linear-gradient(to top, rgb(43, 46, 38) 0%, black 100%);
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
      color: white;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
    }    */
}

.cash__block .tarif {
  text-align: center;
  font-size: 23px;
}

.cash__block .summa {
  text-align: center;
  color: #353030;
  font-size: 32px;
  font-weight: 700;
}

.cash__block .text {
  color: #353030;
}

.kakrabotaem {
  padding: 25px 0 25px 0;
}

.kakrabotaem__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.kakrabotaem__block .kakrabotaem__item {
  width: 300px;
}

.kakrabotaem__block .kakrabotaem__item p {
  margin-top: 10px;
}

.whywe {
  padding: 30px 0 30px 0;
}

.whywe__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 33px 0;
  min-height: 335px;
  margin: 0 auto;
}

.whywe__block .whywe__item {
  width: 300px;
  text-align: center;
  margin: 0 10px 0 10px;
  font-size: 14px;
}

.whywe__block .whywe__item .whywe__divider {
  width: 40px;
  height: 3px;
  background-color: #20201d;
  margin: 0 auto;
}

.whywe__block .whywe__item p {
  margin-top: 20px;
  color: #574343;
  text-align: center;
}

.shapka {
  height: 750px;
  background: url("../img/103.jpg") center center/cover no-repeat;
  -webkit-box-shadow: 0 185px 185px -185px rgba(0, 0, 0, 0.8);
          box-shadow: 0 185px 185px -185px rgba(0, 0, 0, 0.8);
}

.shapka .header {
  height: 120px;
}

.shapka .header .header__logo img {
  width: 300px;
  margin-top: 30px;
}

.shapka .header .header__phone p {
  font-size: 18px;
  color: #574343;
  text-align: center;
  margin-top: 20px;
}

.shapka .header .header__phone a.header__phone_number {
  color: #fc3;
  text-decoration: none;
  font-size: 22px;
  line-height: 1;
  margin-left: 55px;
}

.shapka .header .header__seti {
  margin-top: 25px;
}

.shapka .header .header__seti .header__seti_item {
  margin-right: 15px;
  text-decoration: none;
}

.shapka nav {
  border: 4px solid #574343;
  /* Параметры границы */
  background: #fc3;
  /* Цвет фона */
  height: 76px;
}

.shapka nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 70px;
  list-style-type: none;
}

.shapka nav .menu__item {
  border-right: 4px dotted #574343;
  padding-right: 42px;
}

.shapka nav .menu__item:last-child {
  border-right: none;
}

.shapka nav .menu__link {
  color: #574343;
  text-decoration: none;
}

.shapka nav .menu__link:hover {
  -webkit-box-shadow: 3px 3px 10px 10px yellowgreen;
          box-shadow: 3px 3px 10px 10px yellowgreen;
  border: none;
  background-color: yellowgreen;
  color: white;
}

.shapka .subheader {
  text-align: center;
}

.shapka .subheader img {
  margin-top: 90px;
}

h1 {
  background: yellowgreen;
  border: 3px solid #574343;
}

.button {
  width: 300px;
  height: 80px;
  border-radius: 5px;
  background-color: #fc3;
  border: none;
  color: #574343;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 230px auto 0 auto;
  border: 5px solid #574343;
  border-radius: 55px;
  cursor: pointer;
}

.button:hover {
  background: yellowgreen;
  text-decoration: none;
}

.button__paket {
  margin: 100px 10px 50px 43px;
  width: 172px;
  height: 46px;
  position: absolute;
  bottom: 30px;
}

.button__submit {
  margin: 70px auto 0 auto;
}

.oborudovanie .example-shadow-1 {
  background: #e6e3df;
  text-align: center;
}

.oborudovanie .example-shadow-1 .example-shadow-1 span {
  margin: 50px;
  height: 100px;
  width: 200px;
  display: inline-block;
  -webkit-box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px white;
          box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px white;
}

footer {
  position: relative;
  -webkit-box-shadow: 0 -185px 185px -185px rgba(0, 0, 0, 0.9);
          box-shadow: 0 -185px 185px -185px rgba(0, 0, 0, 0.9);
  background: url("../img/end.jpg") center center/cover no-repeat;
  height: 500px;
}

footer .cover {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

footer .consultation {
  height: 400px;
  margin-top: 50px;
  background: url(../img/cons.jpg) center center/cover no-repeat;
}

footer .consultation__descr {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
}

footer .consultation input {
  margin-top: 20px;
  width: 300px;
  height: 50px;
  border: 2px;
  padding: 5px;
  border-radius: 7px;
}

footer .consultation .error {
  border: 1px solid red;
}

footer .consultation label.error {
  color: white;
  border: none;
  text-align: center;
  margin-bottom: 15px;
  margin-left: 15px;
}

footer .footer__logo img {
  width: 300px;
  margin-top: 50px;
}

footer .footer__phone p {
  font-size: 22px;
  color: #fc3;
  margin-top: 50px;
  text-align: center;
}

footer .footer__phone a.footer__phone_number {
  color: #fc3;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}

footer .footer__seti {
  margin-top: 70px;
  text-align: center;
}

footer .footer__seti .footer__seti_item {
  margin-right: 15px;
  text-decoration: none;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-display: swap;
  src: local("MuseoSansCyrl-500"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-display: swap;
  src: local("MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-display: swap;
  src: local("MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.pageup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
}

.pageup img {
  width: 100%;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.56);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 380px;
  min-height: 400px;
  background-color: #f2f2f2;
  padding: 38px 40px 40px 40px;
}

.modal__close {
  position: absolute;
  top: 0;
  right: -10%;
  font-size: 45px;
  line-height: 21px;
  color: #fc3;
  cursor: pointer;
}

.modal__subtitle {
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.modal__descr {
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
}

.modal input {
  margin-top: 20px;
  width: 300px;
  height: 50px;
  border: 2px;
  padding: 5px;
  border-radius: 7px;
}

.modal_mini {
  min-height: 140px;
}

.modal .error {
  border: 1px solid red;
}

.modal label.error {
  border: none;
  text-align: center;
  margin-bottom: 15px;
}

#consultation, #order, #thanks {
  display: none;
}

.gaonutosal {
  float: left;
  width: 100%;
  margin-top: 25px;
}

.pesontedan {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  color: #f3f1f1;
  overflow: hidden;
}

.pesontedan input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.pesontedan label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #212125;
  line-height: 3;
  cursor: pointer;
  font-size: 17px;
}

.pesontedan-content {
  max-height: 0;
  overflow: hidden;
  background: yellowgreen;
  -webkit-transition: max-height .40s;
  transition: max-height .40s;
  font-size: 14px;
  color: #fffdfd;
}

.pesontedan-content {
  background: yellowgreen;
}

.pesontedan-content p {
  margin: 1em;
}

/* :checked */
.pesontedan input:checked ~ .pesontedan-content {
  max-height: 100vh;
}

/* Icon */
.pesontedan label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .40s;
  transition: all .40s;
}

.pesontedan input[type=checkbox] + label::after {
  content: "+";
}

.pesontedan input[type=radio] + label::after {
  content: "\25BC";
}

.pesontedan input[type=checkbox]:checked + label::after {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.pesontedan input[type=radio]:checked + label::after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.accordion {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  background: #fc3;
  border-bottom: 1px solid #574343;
  border-left: 1px solid #574343;
  border-right: 1px solid #574343;
}

.accordion > .accordion-toggle {
  display: none;
  position: absolute;
  opacity: 0;
}

.accordion > label {
  display: block;
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-top: 1px solid #574343;
  border-bottom: 1px solid #574343;
  background: #fc3;
  color: #c79c9c;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.accordion > label:after {
  content: '';
  position: absolute;
  top: 12px;
  right: 20px;
  width: 12px;
  height: 12px;
  border-left: 2px solid #555;
  border-top: 2px solid #555;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transition: 0.4s -webkit-transform;
  transition: 0.4s -webkit-transform;
  transition: 0.4s transform;
  transition: 0.4s transform, 0.4s -webkit-transform;
}

.accordion > section {
  overflow: hidden;
  height: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.accordion > .accordion-toggle:checked ~ label:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 16px;
}

.accordion > .accordion-toggle:checked ~ section {
  height: 50px;
}

.accordion > section p {
  margin: 15px 0;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .header__logo img {
    width: 200px !important;
    margin-top: 30px;
  }
  a.header__phone_number {
    font-size: 18px !important;
  }
  .header__seti_item img {
    width: 50px !important;
  }
  .menu {
    width: 760px !important;
    font-size: 12px !important;
    margin: 0 auto !important;
  }
  .menu__item {
    padding-right: 34px !important;
  }
  .cash {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .cash__block {
    position: relative !important;
    width: 500px !important;
    height: 400px !important;
    margin: 0 auto !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
  .button__paket {
    margin: 0 auto !important;
    width: 172px !important;
    height: 46px !important;
    position: absolute !important;
    bottom: 50px !important;
    left: 159px !important;
  }
  .footer__logo img {
    width: 200px !important;
  }
  a.footer__phone_number {
    font-size: 18px !important;
  }
  .footer__seti_item img {
    width: 50px !important;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.8s all;
    transition: 0.8s all;
  }
  .menu_active {
    left: 0;
  }
  .menu__link {
    font-size: 20px;
    color: white;
  }
  .hamburger {
    display: block !important;
    position: absolute !important;
    right: 10px !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
            transform: translateY(-50%) !important;
    width: 26px !important;
    height: 12px !important;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: red;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}

/*-- Sign Styles --*/
.sign {
  font-family: "Vibur", cursive;
  font-size: 1rem;
  background-image: url("../img/work6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #141414;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 885px;
}

.sign__word {
  font-size: 5.6rem;
  text-align: center;
  line-height: 1;
  color: #c6e2ff;
  -webkit-animation: neon .08s ease-in-out infinite alternate;
          animation: neon .08s ease-in-out infinite alternate;
}

/*-- Animation Keyframes --*/
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}
@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}

.link {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #828282;
  text-decoration: none;
}

.link:focus, .link:hover {
  color: #c6e2ff;
  text-shadow: 0 0 2px rgba(202, 228, 225, 0.92), 0 0 10px rgba(202, 228, 225, 0.34), 0 0 4px rgba(30, 132, 242, 0.52), 0 0 7px rgba(30, 132, 242, 0.92), 0 0 11px rgba(30, 132, 242, 0.78), 0 0 16px rgba(30, 132, 242, 0.92);
}
/*# sourceMappingURL=style.css.map */